# global configs
!*

# source archives
dist/

# Mac specific
.DS_Store

# build logs
config.log
*.log

# pre-built ffmpeg shared library
libffmpeg.mx.so

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects except MX Specic libraries(inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
!libmx*.so

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Compiled Object files
*.slo

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
